<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91452072674-dipqdlvctm0fm0ndqgj0b1tli8kibl66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91452072674-dipqdlvctm0fm0ndqgj0b1tli8kibl66</string>
	<key>API_KEY</key>
	<string>AIzaSyDYRIDkm9YTE9t0b03YA6ceu8b0Fd3jbFA</string>
	<key>GCM_SENDER_ID</key>
	<string>91452072674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.emory.lep</string>
	<key>PROJECT_ID</key>
	<string>choa-lep</string>
	<key>STORAGE_BUCKET</key>
	<string>choa-lep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91452072674:ios:c96f2d4cfce02cb881b4bb</string>
</dict>
</plist>